$text-color: #000000;
$font-size: 16px;
$font-faimly: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$link-color: #7f2ff8;
$error: #ae0202;
$font-weight-400: 400;
$font-weight-600: 600;

$color-1: #10a881;
$color-2: #53e0bc;
$color-3: #8b78e6;
$color-4: #0a3d62;
$color-5: #ebebeb;
$color-6: #7d7d7d;
